.title{
    text-align: center;
    font-size: 20px;
    padding-top:450px ;
}
.sub-title{
    font-size: 17px;
    text-align: center;
  
}
 .btn{
    background-color: #131312;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
   padding: 20px 30px 20px 30px;
}
.header .btn-cont{
    text-align: center;
   
}
.header{
    background-image: url(../assets/Hero-bg.png),url(../assets/Group.png);
    height: 652px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: top left,center;
}
.world{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 267px;
}
.industry{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 267px;
}
.img{
position: absolute;
width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
padding-left: 950px;
padding-top: 750px;
}
.Learn-More{
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.img2{
 
position: absolute;
width: 223.2px;
height: 208.85px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
padding-top:950px;
padding-left: 258px;
}
.world2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding-left: 600px;
}
.industry2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
padding-left: 600px;
}
.Learn-More2{
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}