.title{
    text-align: center;
    font-size: 20px;
    padding-top:450px ;
}
.sub-title{
    font-size: 17px;
    text-align: center;
  
}
 .btn{
    background-color: #131312;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
   padding: 20px 30px 20px 30px;
}
.header .btn-cont{
    text-align: center;
   
}
.header{
    background-image: url(../assets/Hero-bg.png),url(../assets/Group.png);
    height: 652px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: top left,center;
}
.world{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 267px;
}
.industry{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 267px;
}
.img{
position: absolute;
width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
padding-left: 950px;
padding-top: 750px;
}
.Learn-More{
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.img2{
 
position: absolute;
width: 223.2px;
height: 208.85px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
padding-top:950px;
padding-left: 258px;
}
.world2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding-left: 600px;
}
.industry2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
padding-left: 600px;
}
.Learn-More2{
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.Learn-More3{
    position: static;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}
.img3{
position: absolute;
width: 206.4px;
height: 187.32px;
left: 8.14%;
right: -8.14%;
top: 14.06%;
bottom: -14.06%;
padding-left: 800px;
padding-top: 1065px;
}
.youtube{
    border-radius: 5px;
}
.html{
    /* Frame 10 */
position: static;
width: 200px;
height: 150px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;


flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.css{
position: static;
width: 200px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}

.javasc{
position: static;
width: 200px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.htmlcssjs{
    /* Frame 18 */
position: static;
width: 600px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
padding-left: 235px;
}

.section7{
/* Frame 22 */
position: static;
width: 1140px;
height: 708px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;



/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}
.react{
/* Frame 10 */
position: static;
width: 927px;
height: 270px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding-left: 40px;
padding-top: 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.node{
/* Frame 10 */
position: static;
width: 927px;
height: 290px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);

}


.mongodb{
/* Frame 10 */
position: static;
width: 927px;
height: 304px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.renomo {

    padding-left: 240px;
}

.support{
    background-image: url(../assets/handshake.jpg);
   
position: absolute;
width: 850px;
height: 220px;
left: 262px;
right: 150px;
top: 3300px;
bottom: 179px;

justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
text-align: center;
}
.support1{
    color: whitesmoke;
    text-align: center;
}
.support2{
    color: whitesmoke;
    text-align: center;
}
.Commitment{
    padding-top: 350px;
padding-left: 255px;
font-size: 20px;
gap: 20px;
}

